<!--  Header  -->

  <header class="cv-header">
    <h1 class="name">Trishia Mae Antonio</h1>
    <h3 class="role">Aspiring Fullstack Developer</h3>
    <div class="contact-info">
      <span class="contact-item">
        <strong>Location:</strong> Porac, Pampanga
      </span>
      <span class="separator">•</span>
      <span class="contact-item">
        <strong>Mobile:</strong> 096 8579 3358
      </span>
      <span class="separator">•</span>
      <span class="contact-item">
        <strong>E-Mail:</strong>
        <a href="mailto:trishiamaeantonio@gmail.com">trishiamaeantonio&#64;gmail.com</a>
      </span>
    </div>
    <div class="divider"></div>
  </header>

<section class="profile-section">
      <h2 class="section-title">PERSONAL PROFILE</h2>
      <p class="profile-text">
        Aspiring Fullstack Developer with strong critical-thinking, analytical, and problem-solving abilities. has a deep interest in exploring and learning various tech stacks
        to broaden technical expertise. Possesses hands-on experience in Fullstack development using technologies such as HTML, CSS/TailwindCSS, JavaScript and Vue.js for the Frontend,
        as well as Node,jsm Express and PHP for Backend. Has successfully developed and contributed to multiple projects that showcase adaptability, technical proficiency, and a
        passion for continuous learning.
      </p>
    </section>
