<!-- Why should we hire you? -->
     <section class="reasons">
      <h2 class="section-title">WHY SHOULD WE HIRE YOU?</h2>
      <p class="reason">
        I am a solution-oriented person, I could solve issues related to my profession with the use of my critical-thinking skills. I am passionate with learning various skills and stacks, which makes me flexible for any task assigned to me, and I deeply value team collaboration as a I have experience in leading a team to an important project.

      </p>
     </section>

