<!--  Technical Proficiencies  -->
    <section class="reference">
      <h2 class="section-title">REFERENCES</h2>
      <div class="refs">
        <div class="ref">
          <h3 class="ref-name">Bill Gates</h3>
          <h5 class="ref-title">Project Manager</h5>
          <h5 class="ref-email">bill123&#64;mail.com</h5>
        </div>
        <div class="ref">
          <h3 class="ref-name">Sierra Madre</h3>
          <h5 class="ref-title">Software Engineer</h5>
          <h5 class="ref-email">savior111&#64;mail.com</h5>
        </div>
      </div>
    </section>
